@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style-type: none;
}

a {
	color: #fff;
	text-decoration: none;
}

body {
	font-family: 'CJONLYONENEW', '맑은 고딕', '돋움';
	font-weight: 300;
	line-height: 1.2;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
/*==================================*/
header {
	position: fixed;
	width: 100%;
	text-align: center;
	background-color: #947566;
	padding: 20px;
	top: 0;
	left: 0;
	z-index: 10;
}

header h1.logo {
	color: #fff;
	float: left;
	padding: 15px 0 0 20px;
}

header ul.main {
	color: #fff;
	font-size: 25px;
	text-align: center;
	display: inline-block; /**/
	padding: 20px 0 0 50px;
}

header ul li {
	float: left;
	padding: 0 40px;
}

header ul.main li:nth-of-type(1) {
	color: #000;
}

.login {
	padding: 0 50px 0 0;
	float: right;
	display: block;
	color: #fff;
}

input.btn {
	float: right;
	width: 173px;
}

.idpw {
	padding: 0 0 5px 0;
}

/*====================================*/
#wrap {
	width: 960px;
	margin: 0 auto;
}

div.top-block {
	padding: 65px;
}

ul.top-menu a {
	color: #000;
}

ul.top-menu {
	font-size: 22px;
	text-align: center;
	display: block;
	padding: 50px 0 60px 0;
}

ul.top-menu li {
	float: left;
	padding: 0 91px;
	border-left: 1px solid #8d8d8d;
}

ul.top-menu li:nth-of-type(4) {
	border-right: 1px solid #8d8d8d;
}
/*====================================*/
#section-main {
	width: 960px;
	height: 1500px;
	border: 1px solid #9d9d9d;
}

.main-banner {
	width: 960px;
	height: 300px;
	line-height: 300px;
	background-color: #5d5d5d;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

.main-list {
	width: 960px;
	height: 300px;
	line-height: 300px;
	background-color: #8d8d8d;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

footer {
	width: 100%;
	height: 200px;
	background-color: #533A32;
	line-height: 200px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}